.game {
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    min-height: 100vh;
}

.buttonBox{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
}

.equation{
    color:white;
    font-size: 6rem;
}
.last-screen{
    display: none;
    flex-direction: column;
}
.answerButton{
    cursor:pointer;
    padding: 1em 2em;
    border:none;
    border-radius: 8px;
    background-color: #FFD124;
    font-size: 2rem;
    margin: 0 0.2em;
    transition: background-color .3s;
}

.hover:hover{
    background-color: #EDD167;
}

.wrong{
    background-color: #c94242;
    color:#FFFFFF;
}

.correct{
    background-color: #3cc260;
    color: #FFFFFF
}

.last-screen{
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 1.5em;
    color: var(--white);
 }
 .last-screen-results{
     margin-top: 2em;
     padding-inline-start: 20px;
     width: 100%;
     max-width: 800px;
     align-self: center;
 }
 .last-screen .score-text{
     margin-top: 1.5em;
     font-size: 2.5rem;
 }
 .last-screen .score{
     margin-top: .8em;
     font-size: 2rem;
 }
 .last-screen .new-game{
     margin-top: .8em;
     padding: .3em 1em;
     align-self: center;
     font-size: 2.5rem;
     border: 1px solid transparent;
     border-radius: 8px;
     background-color: var(--accent);
     font-weight: 700;
     animation: heartBeat 2.5s 5s infinite;
     cursor: pointer;
 }
 
 .list-item{
     margin-top: 1em;
     text-align: left;
     font-size: 2rem;
 }
 .list-item .list-item-box{
     display: flex;
     justify-content: space-between;
 }
 .list-item .list-item-box span{
     margin-top: .5em;
 }
 .user-answer{
     font-size: 1.6rem;
 }
 .result-info{
     font-weight: 700;
     font-size: 1.6rem;
 }
 #newGame_id{
     margin: 0 auto;
     margin-top: 1em;
     font-weight: 700;
     font-size: 2rem;
 }
 .answer-heading{
     margin-top: 2em;
     font-size: 1.8rem;
     text-align: left;
 }
@media (min-width: 576px) {
    .answerButton{
        font-size: 3rem;
    }
    .equation{
        font-size: 7.5rem;
    }
    .last-screen .score-text{
        font-size: 4rem;
    }
    .last-screen .score{
        font-size: 3rem;
    }
}
@media (min-width: 768px) {
    .answerButton{
        font-size: 4rem;
        margin: 0 0.5em;
    }
    .equation{
        font-size: 10rem;
    }
    #newGame_id{
        margin: 0 auto;
        margin-top: 1em;
        font-weight: 700;
        
    }
}