:root
{
    --primary: #006778;
    --secondary: #0093AB;
    --tetiary: #00AFC1;
    --accent: #FFD124;
    --accent-2: #EDD167;
    --mid-black: #323232;
    --white: #fff;
    --correct: #3cc260;
}

.game{
    min-height: calc(100vh - 80px);
    width: 100%;
    padding: 0 2em;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.image-box{
    margin: 1em 0;
    border: 3px solid var(--white);
    width: 100%;
    height: 180px;
}
.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.question-box
{
    margin: .5em 0;
    padding: 1em;
    width: 100%;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    border-radius: 8px;
    color: var(--white);
}
.trl-btn{
    margin-top: 1em;
    padding: 1.5em;
    align-self: flex-end;
    position: relative;
    background: var(--white);
    border-radius: 4px;
    transition: border-color .1s, background-color .3s;
    border: 1px solid transparent;
    cursor: pointer;
}
.trl-btn:hover{
    border-color: #FFD124;
    background-color: #FFD124;
}
.trl-btn .fa-language{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%,-50%);
    color: var(--mid-black);
    transition: color .3s;
}
.answer-box{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.answer-box .answer{
    margin: 0.5em 0;
    padding: .5em;
    background-color: var(--tetiary);
    border-radius: 8px;
    border: 1px solid transparent;
    transition: background-color .3s;
    cursor: pointer;
    color: var(--white);
}
.answer-box .hover:hover{
    background-color: var(--accent);
    color: var(--black);
}
.answer-box .correct{
    background-color: var(--correct);
    color: var(--white);
}
.answer-box .wrong{
    background-color: #c94242;
    color: var(--white);
}
.answer-heading
{
    margin-top: 1.5em;
    font-size: 2.5rem;
    text-align: left;
}
.last-screen{
   display: none;
   flex-direction: column;
   text-align: center;
   width: 100%;
   padding: 1.5em;
   color: var(--white);
}
.last-screen-results{
    margin-top: 2em;
    padding-inline-start: 20px;
}
.list-item{
    margin-top: 1em;
    text-align: left;
    font-size: 2rem;
}
.list-item .list-item-box{
    display: flex;
    justify-content: space-between;
}
.list-item .list-item-box span{
    margin-top: .5em;
}
@media (min-width: 375px) {
    .question-box{
        
        font-size: 2.2rem;
    }
    .answer-box .answer{
        font-size: 2rem;
    }
    .trl-btn{
        padding: 1.3em;
    }
}
@media (min-width: 768px) {
    .answer-box{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .answer-box .answer{
        width: 40%;
        padding: 2em;
        
    }
    .image-box{
        height: 320px;
        width: 50%;
    }
}